<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title></title>
    <script type="text/javascript" src="{{jquery}}"></script>
    <script type="text/javascript" src="{{script}}"></script>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
</head>
<body>
    <div>
        {% for photo in photos %}
            <div id="{{photo[0]}}">
                <img height="50" src="{{ photo[2] }}" />
                <input class="order" type="checkbox" {% if photo[2] == 1 %}{{checked}}{% endif %}>Order photo</input>
                <br />
            </div>
        {% endfor %}
    </div>
</body>
</html>